
<main class="app-user-page">
    <nav class="app-user-navigation">
        <a href="/">Home</a>
        <a href="/payments">Payments</a>
    </nav>
    <section class="app-user-info pos-card pos-card-highlighted">
        <header>
            <h1 class="pos-heading-3">Welcome {{ current_profile.name }}</h1>
            <form action="/sessions" method="post">
                <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="pos-button">
                    {{ 'modules/user/users.logout' | t }}
                </button>
            </form>
        </header>

        <section class="app-payment">
            <h1 class="pos-heading-2">Payment cancelled</h1>
            <h1>Your payment (#{{ transaction.id }}) was cancelled</h1>
            <p>You did not pay {{ transaction.amount_cents | pricify_cents }} for this transaction.</p>
        </section>
    </section>
</main>
